# Copiá este archivo a .env y completá con tus valores

# Servidor
PORT=3001
NODE_ENV=development

# Cadena de conexión a PostgreSQL
# Formato: postgresql://USUARIO:PASSWORD@HOST:PUERTO/DATABASE
DATABASE_URL=postgresql://user:password@localhost:5432/taskflow_db

# Seguridad
JWT_SECRET=tu_secreto_super_seguro_aqui
